html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: inherit;
    transition: background-color 1.3s ease;
}

section {
    margin: 0;
    width: 100%;
    overflow: hidden;

}

/* Navbar */
.homePageNavbar {
    list-style: none;
    border: none;
    background-color: transparent; /* بدل none */
    color: #fff ;
    display: flex;
}

.brand {
    color: #fff;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 39vw;
    border: none;
    display: flex;
    align-items: center;
    
}
.behind{
    display: flex;
    gap: 38vw;
}

.brand img {
    display: block;   /* يلغي الفراغ الأبيض */
    border: none;
   
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
  background: transparent;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
}

.navbar__menu {
  position: relative;
  list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
}

.navbar__item {
  list-style: none;
}
.navbar__item a {
  width: 4vw;
}

.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 3.5rem;
  text-decoration: none;
  color: #fff;
  transition: 250ms ease all;
  border-radius: 17.5px;
  overflow: hidden;
}
.navbar__link i {
  transition: color 0.3s ease;
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.navbar__item {
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1); 
}



.navbar__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #d11b1b;
  border-radius: 17.5px;
  opacity: 0;
  z-index: -1;
  transition: 0.6s ease;
}

.navbar__link:hover::before {
  opacity: 1;
}

.navbar__link span {
  position: absolute;
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #d11b1b;
  width: fit-content;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
  white-space: nowrap;
}

.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}








/* main section && video  */

.homePageMainSection {
    position: relative;
    right: 0;
    width: 100%;
    padding: 3vw;
    justify-content: left;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.379);
    height: 100vh;
    box-shadow: inset 0px 100px 100px 100px rgba(0, 0, 0, 0.315);
    overflow:hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    h2{
        font-family: "Orbitron", sans-serif;
        padding-left:6vw;
    }
    h3{
        font-family: "Orbitron", sans-serif;
        margin-left: 6vw;
    }
   
}
.homePageMainSection video {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.video-btn {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-btn:hover {
    background: rgba(0,0,0,0.85);
}


.homePageMainSectionOverlay{
    position: absolute;
    top:96vh;
    height:4vh;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        rgba(26, 26, 26, 0.911),
        transparent
    );
  
}
.item{
width:300vw;
height: 4vh ; 
position: absolute;
left:-100%;
animation:autoRun 10s linear infinite;
animation-delay: calc(var(--position)*-1s);
}
.overlay{
   display: flex;
   width: 100%;
   position: relative;
  


}

@keyframes autoRun{
   form{
    left:-100%;
   }
   to{
    left:100%;
   }
}



.homePageMainSectionText {
    margin-top: 15vw;
    color: rgb(255, 255, 255);
    z-index: 1;
    width: 60%;
    padding: 2vw;
    height: fit-content;
    background-image: image-set(url(""));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.homePageMainSectionText h2 {
    font-size: 5vw;
    margin-bottom:2vw;
    width:40vw;
}

.highlight {
  color: #ca0000b3; 
  font-weight: bold;
}
.homePageMainSectionText h3 {
    font-size: 1.5vw;
    margin-bottom: 2vw;
    border: 3px solid;
    padding: 14px;
    width: fit-content;
    border-radius: 5px;
}
.homePageMainSectionText h3:hover{
    cursor: pointer;
    background-color: #ca00005b;
    transition: 1.5s;
}

.homePageMainSection p {
  width: 70vw;
  background-color: transparent;
  margin-left: 0px;
  padding: 14px;
  color: rgba(255, 255, 255, 0.559);
  white-space: nowrap; 
  overflow: hidden;
  margin: auto;
  font-family: "Orbitron", sans-serif;
}


.homePageMainSectionText a button {
    size: 2vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}


/*homePageTwoSection*/
.homePageTwoSectionText{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}


.servicesGrid{
    margin:10vh 10vw;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    position: relative;
    overflow: hidden;
}
.cardOverlay{
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.cardOverlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.cardTitle2 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #7d7a7a; 
    text-align: center;
    font-family: "Ruslan Display", sans-serif;
    font-style: italic;
    font-size: 2.7vw;
}

.cardIcon2 {
    position: absolute;
    bottom: 10px; 
    right: 15px;  
    font-size: 1.3rem;
    color: white;
}

.cardIcon {
  font-size: 1.3rem;
}
.homePageTwoSection{ 
     
margin-top: 4vh; 
 height: fit-content; 
 width: 100%;
 color: rgb(0, 0, 0);
 p{
    width: 70vw;
    margin-left: 16vw;
    transition: color 1.3s ease;
    color: rgb(119, 119, 119);
    font-size: 0.8vw;
 }

}
.homePageFourSection{ 
     
margin-top: 24vh; 
 height: 50vh; 
 width: 100%;
 color: rgb(0, 0, 0);
 p{
    width: 70vw;
    margin-left: 16vw;
    transition: color 1.3s ease;
    color: rgb(119, 119, 119);
    
    font-size: 0.8vw;
 }

}
.homePageTwoSection > p {
  margin-top: -45px;
  margin-bottom: 20px;
  width: 70vw;
  transition: color 1.3s ease;
}



.homePageTwoSectionCard{
height: 32vh;    
 border-radius: 1vw;
 
} 
.homePageTwoSectionCard img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 0.5vw;

}
.serviceCard {
  overflow: hidden;
  position: relative;
  padding:0 !important;
  
}

.serviceCard img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.serviceCard:hover img {
  transform: scale(1.1);
  cursor: pointer;
}



.fade-in {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.2s ease, transform 1.2s cubic-bezier(0.22, 2, 0.36, 2);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* homePageSecondSection   */


.homePageSecondSection {
    margin-top:20vh;
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 3vw;
  
}

.secondSectionContent {
    text-align: center;
    width: 120vw;
    height: fit-content;
    
}
.secondSectionContent h2 {
    font-size: 3.5vw;
    margin-bottom: 5vw;
    margin-top: 0px;
    padding-left: 0px;
    width: fit-content;
    padding-bottom: 5px;
     padding: 0px !important;
    width: 60%;
   color: rgb(0, 0, 0);
   transition: color 1s ease;
   font-family: "Orbitron", sans-serif;
}

.secondSectionContent p {
    font-size: 1.2vw;
    color: white;
}


/*SECTION 3 */  


.homePagethreeSectionCard{
height: 85vh;    
width: 100%;
 border-radius: 0.3vw;
box-shadow: inset 0px 100px 100px 100px rgba(0, 0, 0, 0.315);
}
.homePagethreeSectionCard img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 0.3vw;
    

}

.serviceCard3 video {
  position: absolute; /* مهم جداً */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3vw;
  transition: opacity 0.5s ease;
}
 
.homePagethreeSectionCard:hover{
flex :3;
cursor: pointer;
}


.servicesGrid3 {
   display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
    position: relative;

}
.serviceCard3 img {
  opacity: 1;
  z-index: 2;
}

.serviceCard3 video {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.servicesGrid2rows{
display: flex;
flex-wrap: wrap;
width: 100%;
grid-gap: 2vw;
 position: relative;
}
.container3{
 width: 90%;
}

.serviceCard3:hover img {
  opacity: 0;
}

.serviceCard3:hover video {
  opacity: 1;
}


.serviceCard3 {
  flex:1;
  transition: all 700ms;
  overflow: hidden;
  position: relative;
  padding:0 !important;
}

.gas{
    flex-direction: column;
    text-align: left;
    
}
.gas .type{
        font-size: 15px;
    }
.gas p{
     font-size: 18px;
     margin-left: 10px;
}
.serviceCard3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
    box-shadow: 
    inset 0px 60px 50px -30px rgba(0,0,0,0.65),  /* من فوق */
    inset 0px -60px 50px -30px rgba(0,0,0,0.65); /* من تحت */
  z-index: 2;
}


.serviceCard3 img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}



.serviceCard3:hover{
  flex:1.2;
}

.type{
    background-color: #bcbbbb5c;
    width: fit-content;
    padding: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 6px;
}





/* homePageThirdSection   */
.homePageThirdSection {
    width: 100%;
    height: 100vh;
    background-color: #737373;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
}

.thirdSectionContent {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation-name: fadeInUp;
  animation-duration:1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
  scroll-timeline-name: fadeInTimeline;
}
.thirdSectionContent h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2vw;
}

.serviceCard {
    background-color: #292929;
    border-radius: 1vw;
    padding: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.serviceCard h3 {
    font-size: 1.1vw;
    margin-bottom: 1vw;
    font-family: "Orbitron", sans-serif;

}

.serviceCard p {
    font-size: 1.2vw;
    line-height: 1.6;
}

/* homePageContactSection   */
.homePageContactSection {
    width: 100%;
   background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5vw 3vw 2vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin-bottom: 3vw;
}

.contactContainer h2 {
    font-size: 3.5vw;
    margin-bottom: 2vw;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 0.5vw;
}

.contactInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 2vw;
}

.contactItem {
    background-color: #1c1c1c;
    padding: 2vw;
    border-radius: 1vw;
    min-width: 50px;
    flex: 1;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contactItem:hover {
    transform: translateY(-5px);
    background-color: #2c2c2c;
}

.contactItem h4 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.contactItem p {
    font-size: 1.2vw;
}

.footer {
    border-top: 1px solid #444;
    padding-top: 1.5vw;
    text-align: center;
    font-size: 1vw;
    color: #aaa;
    width: 100%;
}

/* offcanvas-body   */
.offcanvas {
    background-color: #000000;
    border-top-right-radius: 10vh;
}

.offcanvas-body {
    background-color: #737373;


}

.offcanvas-header {
    margin-left: 2vw;
    border-bottom-left-radius: 20%;
}


/*slider companies */
.swiper {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    
       
}

.swiper-slide {
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 15vh;
   transition: transform 0.3s ease !important;
       -webkit-box-reflect:below 1px
        linear-gradient(
            transparent,rgba(0,0,0,0.15)
        );
        
        transform: scale(1,1);
}
.swiper-slide  img {
    background-size: 90px !important;
    
}
.swiper-slide {
   filter: grayscale(100%);
  transition: filter 0.4s ease;
}

.swiper-slide-active {
  filter: grayscale(0%);
}


/* vw -> width ; ; vh -> height */
/* اخفاء العنوان لعيون يوسف */

#mainTitle {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#mainTitle.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}


.car-container {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  max-width: 1400px;
  height: 410px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.car-image {
  flex: 1.2;
}

.car-image img {
  width: 43vw;
  height: 100%;
  
}
.car-content {
  flex: 0.8;
  background-color: #0d0d0e;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34vw;
  height: auto;
}

.car-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
  margin-left: 10px;
}

.car-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 30px;
  margin-left: 10px;
  width: 450px;
}

.car-content button {
  padding: 12px 24px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin-left: 10px;
}

.car-content button:hover {
  background-color: #e0e0e0;
}



.cardDiscover{
    width: 20.5vw;
    height: 43vh;
}
#discoverSection h2{
font-family: "Orbitron", sans-serif;
margin-top: 6vw;
font-size: 3vw;
}

.card {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: visible;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  z-index: 1;
  position: relative;
}

.image::before {
  content: "";
  position: absolute;
  top: 15px;    
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 0;
  transition: transform 0.5s ease;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.link .icon-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: auto;
}

.image::before {
  content: "";
  position: absolute;
  top: -10px;    
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 3px solid white;
  border-radius: 20px; 
  box-sizing: border-box;
  z-index: 0;
  transition: transform 0.5s ease;
  pointer-events: none; 
}

.card:hover .image::before {
  transform: rotate(-15deg);
  cursor: pointer;
}
.link .icon1 { 
  top: 30%;
  right: -50px;
}
.link .icon2 {
  top: 45%;
  left: -50px;
}
.link .icon3 { 
  bottom: -40px;
  left: 45%;
  transform: translateX(-50%) scale(0.5);
}

.link i {
  font-size: 30px;
  color: #555;
  transition: color 0.3s ease;
}
.link i:hover {
  color: #000;
  cursor: pointer;
}

.card:hover .link .icon-circle {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}
.card:hover .image::before {
  transform: rotate(-10deg);
  cursor: pointer;
}
.card:hover{
    cursor: pointer;
}

.containerContact{
    display: flex;
   gap: 70px;
}




